<div class="modal-header">
  <h4 class="modal-title">Soumettre une archive</h4>
</div>
<div class="modal-body">
  <ng-container *ngIf="fileUrl">
    <img *ngIf="fileUrl !== undefined && selectedFile.type.startsWith('image')" [src]="fileUrl">
    <audio *ngIf="selectedFile.type.startsWith('audio')" controls preload="none">
      <source [src]="fileUrl" type="audio/ogg">
    </audio>
  </ng-container>

  <p *ngIf="fileUploaded"> Fichier envoyé!</p>
  <form (keydown.enter)="$event.preventDefault()">
    <div class="input-group">
      <label class="input-group-text" for="file-input">Fichier</label>
      <input type="file"  class="form-control" id="file-input" (change)="handleFileInput($event.target.files)"/>

    </div>

    <bnl-submission-properties-editor [(contentMetadata)]="fileMetadata"></bnl-submission-properties-editor>


  </form>

</div>
<div class="d-flex justify-content-between modal-footer ">
  <button [disabled]="uploading" type="submit" (click)="loadFile()"
          class="btn btn-primary">Envoyer</button>

  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">
    Fermer
  </button>
</div>
