<div class="modal-header justify-content-center">
  <h2>Manuel de l'Archiviste</h2>
</div>
<div class="modal-body">
  <p>
    <em>
      Salut jeune archiviste. Y'a deux solutions: soit tu lis cette page aide et tu comprends le fonctionnement
      du site le plus révolutionnaire de l'histoire du Loult, soit tu continues à rien caler et
      tu retournes t'astiquer sur des cheûmales. Moi je pense la question elle est vite répondue.
    </em>
  </p>
  <h4>Principes de base</h4>
  <p>
    La Bibliothèque Nationale Loultiste (BNL) sert à partager et éventuellement conserver du contenu loultiste
    qui mériterait de ne pas être oublié (ce qui est déjà pas mal au vu de ce qui est partagé sur le loult).
    <strong>Tout contenu soumis sur le loult est directement et automatiquement soumis dans la BNL, sans être pour autant
    archivé</strong>. Tout document qui n'est pas archivé est, à terme, remplacé par les nouveaux documents
    soumis par la suite (à la manière d'un tube digestif où les aliments ingérés poussent les aliments digérés
    à l'extérieur). Pour qu'un document soit conservé <em>ad loultam aeternam</em>, il doit être
    <strong>archivé</strong> par les archivistes du site.
  </p>
  <h4>Les Archives</h4>
  <p>
    Une dois archivé, un son ou une image peut être <strong>annoté</strong> avec des étiquettes (préfixée d'un 3615 sur
    le site),
    et être affublé d'un titre. Les titres ou étiquettes ne sont qu'une indication sur le contenu du document,
    et n'influent pas sur sa conservation. Si un Loultiste-archiviste archive un document, il apparaîtra dans
    sa "bibliothèque" personnelle de documents.
  </p>

  <p>
    <strong>Notez qu'un document est archivable par plus d'un seul archiviste.</strong> N'hésitez pas à
    archiver tout document qui vous semble être représentatif de la culture loultiste,
    <strong>même si ce document a déjà été archivé</strong>. N'hésitez pas, aussi,
    à ne <strong>pas archiver</strong> tout document de basse qualité, au contenu xénophobe, homophobe ou
    fachisant. <em>Les documents qui font mention de l'homosexualité latente des loultistes ne sont
    pas considérés comme homophobes.</em>
  </p>
  <p>
    Le premier utilisateur a avoir archivé un document (alors nommé <em>"Archiviste en chef"</em>
    pour ledit document) jouit de droits et de responsabilité plus grande que les archiviste qui viendraient
    après lui (nommés <em>"Assistants archiviste"</em>). En fonction du rôle qui lui a été attribué,
    l'utilisateur pourra éditer les tags de l'archive, en modifier le titre, ou simplement la supprimer.
  </p>
  <h4>Les Rôles</h4>
  <p>
    On distinguera 5 rôles au sein de la BNL: <strong>le Déchet</strong>, <strong>le Loultiste</strong>, <strong>l'Archiviste</strong>,
    <strong>le Maître Archiviste</strong> et <strong>l'Administrateur</strong>. Ils sont croissants
    en terme de droits et de responsabilité quant au bon fonctionnement de ce registre des plus mémorables
    oeuvres loultistes. Ce système a été mis en place pour éviter de surcharger le maigre espace disque
    du serveur, ainsi que pour éviter des débordements.
  </p>

  <h5>Le Déchet</h5>
  <ul>
    <li>ne peut absolument rien faire à part contempler la vacuité de sa propre existence</li>
  </ul>

  <h5>Le Loultiste</h5>
  <ul>
    <li>peut soumettre du contenu dans la BNL</li>
    <li>ne peut pas archiver de contenu, ni l'annoter</li>
  </ul>

  <h5>L'Archiviste</h5>
  <ul>
    <li>peut faire tout ce que le <strong>Loultiste</strong> peut faire</li>
    <li>peut archiver (avec un nombre limite par jour) des documents</li>
    <li>s'il est "archiviste en chef" sur un document, il peut en éditer les étiquettes
    et le titre</li>
  </ul>

  <h5>Le Maître Archiviste</h5>
  <ul>
    <li>peut faire tout ce que l'<strong>Archiviste</strong> peut faire</li>
    <li>peut archiver des vidéos</li>
    <li>il n'a pas de limite sur le nombre de documents qu'il peut archiver par jour</li>
    <li>il peut éditer les étiquettes/le titre d'un document sans en être pour autant
    l'archiviste en chef</li>
    <li>il peut supprimer les documents dont la qualité est médiocre ou qui ne respecteraient
    pas les critères énoncés précédemment</li>
    <li>peut révoquer les droits d'un autre utilisateur en le transformant en <strong>Déchet</strong></li>
  </ul>

  <h5>L'Administrateur</h5>
  <ul>
    <li>peut tout faire, et plus encore</li>
  </ul>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fermer</button>
</div>
