bnl-tag {
  margin: 0px 3px;
}

.tags-list {
  padding-left: 0px;
  margin-bottom: 0px;
  li {
    display: inline-block;
    border-radius: 20px;
    border: 3px solid darkslategrey;
    padding: 3px;
    margin: 2px 4px;
  }
  i {
    border-radius: 20px;
  }
}

.input-group {
  margin: 10px 5px;
}
