<div class="input-group">
  <span class="input-group-text" id="title">Titre</span>
  <input type="text" class="form-control" placeholder="Titre pour cette oeuvre"
         id="title-input" name="title"
         [(ngModel)]="contentMetadata.title"
         aria-label="Titre">
</div>

<div *ngIf="roleProvider.userData.permissions.can_archive" class="form-check">
  <input type="checkbox" id="archive-input" name="archive" class="form-check-input"
         [(ngModel)]="contentMetadata.archive"
         checked>
  <label for="archive-input" class="form-check-label">Archiver le fichier</label>
</div>
<div *ngIf="roleProvider.userData.permissions.can_tag" class="input-group">
  <span class="input-group-text" id="tags-label">Tags</span>
  <input id="tags-input" type="text" class="form-control"
         #currentTagInput="ngModel"
         [ngClass]="{'is-invalid' : currentTagInput.errors}"
         minlength="2"
         maxlength="20"
         pattern="^[a-zA-Z0-9&àéèôêâûïü]+(-[a-zA-Z0-9&àéèôêâûïü]+)*$"
         (keyup.enter)="currentTagInput.errors ? undefined :  addTag()"
         placeholder="Ajoutez des tags avec ⏎ "
         [(ngModel)]="currentTag" [ngbTypeahead]="search"/>
  <div *ngIf="currentTagInput.errors && currentTagInput.errors.minLength" class="invalid-feedback">
    Plus de 2 caractères pour un tag.
  </div>
  <div *ngIf="currentTagInput.errors && currentTagInput.errors.maxLength" class="invalid-feedback">
    Pas plus de 20 caractères pour un tag.
  </div>
  <div *ngIf="currentTagInput.errors && currentTagInput.errors.pattern" class="invalid-feedback">
    Un tag ne peut contenir que des lettres, chiffres, des & des tirets (-), et doit globalement
    ressembler-a-ça
  </div>
</div>

<ul class="tags-list" *ngIf="roleProvider.userData.permissions.can_tag">
  <li *ngFor="let tag of this.contentMetadata.tags; let tagIdx=index;"
      class="tag">
    <bnl-tag [tagName]="tag"></bnl-tag>
    <i (click)="deleteTag(tagIdx)" class="btn btn-secondary btn-sm">✕</i>
  </li>
</ul>
