<div *ngIf="userData" id="user-profile">
  <img [src]="userImgUrl()">
  <div id="user-data">
    <p id="profile-username">
      <span [ngStyle]="{color: userData.color}">{{userData.pokename}} {{userData.adjective}}</span> |
      <b>{{userData.roles | userRolesFormat }}</b>
    </p>
    <p>{{userData.uploaded_files_count}} documents soumis</p>
    <p>{{userData.archived_files_count}} documents archivés</p>
    <p>Dernière activité : {{userData.last_activity | date }} </p>
    <div id="user-admin-actions">
      <button *ngIf="roleProvider.isLoggedIn() && roleProvider.userData.permissions.can_delete_users"
              (click)="deleteUser()"
              class="btn btn-danger btn-sm">
        Supprimer<i class="bi bi-x-square"></i>
      </button>
      <button *ngIf="showTrashButton()"
              (click)="trashUser()"
              class="btn btn-warning btn-sm">
        Déchet<i class="bi bi-trash"></i>
      </button>
      <button *ngIf="showRestoreButton()"
              (click)="restoreUser()"
              class="btn btn-info btn-sm">
        Restaurer<i class="bi bi-recycle"></i>
      </button>
    </div>
  </div>

</div>

<form id="user-filters-config" (change)="signalFilteringChange()" class="form-inline">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="query-by-user" name="query-by-user"
           [(ngModel)]="this.userFilters.query_archived_by_user">
    <label class="form-check-label" for="query-by-user">
      Archivés par <bnl-username [userData]="this.userData"></bnl-username>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="query-by-others" name="query-by-others"
           [(ngModel)]="this.userFilters.query_archived_by_others">
    <label class="form-check-label" for="query-by-others">
      Archivés par d'autres
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="query-submissions" name="query-submissions"
           [(ngModel)]="this.userFilters.query_submissions">
    <label class="form-check-label" for="query-submissions">
      Soumis par <bnl-username [userData]="this.userData"></bnl-username>
    </label>
  </div>
</form>

<bnl-content-wall *ngIf="userData" [userId]="this.userData.userid" [userFilters]="this.userFilters"></bnl-content-wall>
