<div *ngIf="userData" id="user-profile">
  <img [src]="userImgUrl()">
  <div id="user-data">
    <p id="profile-username">
      <span [ngStyle]="{color: userData.color}">{{userData.pokename}} {{userData.adjective}}</span> |
      <b>{{userData.roles | userRolesFormat }}</b>
    </p>
    <p>{{userData.uploaded_files_count}} documents soumis</p>
    <p>{{userData.archived_files_count}} documents archivés</p>
    <p>Dernière activité : {{userData.last_activity | date }} </p>
    <div id="user-admin-actions">
      <button *ngIf="roleProvider.isLoggedIn() && roleProvider.userData.permissions.can_delete_users"
              (click)="deleteUser()"
              class="btn btn-danger btn-sm">
        Supprimer<i class="bi bi-x-square"></i>
      </button>
      <button *ngIf="showTrashButton()"
              (click)="trashUser()"
              class="btn btn-warning btn-sm">
        Déchet<i class="bi bi-trash"></i>
      </button>
      <button *ngIf="showRestoreButton()"
              (click)="restoreUser()"
              class="btn btn-info btn-sm">
        Restaurer<i class="bi bi-recycle"></i>
      </button>
    </div>
  </div>
</div>
<bnl-content-wall *ngIf="userData" [userId]="this.userData.userid"></bnl-content-wall>
