#user-profile {
  display: flex;
  width: 500px;
  margin: auto auto 20px;
  background-color: white;
  box-shadow: 0px 2px 3px 1px #000000;
  padding: 10px;
  img {
    height: 200px;
  }
}

#user-data {
  margin-bottom: 3px;
  margin-left: 5px;
  font-family: "Pokemon Classic", "Ubuntu Mono", sans-serif;
  font-size: 0.5rem;

  button {
    font-size: 0.5rem;
  }
}

#user-admin-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-username {
  font-size: 0.8rem;
}

#user-filters-config {
  background: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  padding: 15px 0px;

  .form-check {
    padding-inline: 30px;
  }
}
