.tag-prefix {
  font-family: Ubuntu Mono, Monospaced, monospace;
  background-color: black;
  border-radius: 4px;
  color: white;
  padding: 1px;
}

.tag-name{
  //font-family: "Pokemon Classic";
  padding-left: 3px;
  // font-size: smaller;
}

.tag-badge{
  cursor: pointer;
}
