<div *ngIf="usersData" id="all-users">
  <a *ngFor="let user of usersData" [routerLink]="['/user', user.userid]" class="user-tile">
    <img [src]="userImgUrl(user.img_id)">
    <div class="user-data">
      <div class="profile-username">
        <p [ngStyle]="{color: user.color}">{{user.pokename}} {{user.adjective}}</p>
        <p>{{user.role_names.join(', ')}}</p>
      </div>
      <p>{{user.uploaded_files_count}} documents soumis</p>
      <p>{{user.archived_files_count}} documents archivés</p>
      <p>Dernière activité : {{user.last_activity | date }} </p>
    </div>
  </a>
</div>
