
#loult-logo {
  height: 50px;
  margin: auto;
  cursor: pointer;
}

#bn-title {
  grid-column: 2 / 5;
  font-family: "Pokemon Classic";
  font-size: 0.8rem;
  overflow-wrap: normal;
  padding-top: 5px;
  cursor: pointer;
  margin: auto;
}

#tags-btn {
  grid-column: 5 / 7;
  margin: auto;
}

#users-btn {
  grid-column: 7 / 9;
  margin: auto;
}

#filtering-help-group {
  grid-column: 9 / 11;
  margin: auto;
  display: flex;
  flex-direction: column;

  button {
    border: unset;
    margin: 5px;
  }
}

#submission-buttons {
  grid-column: 11 / 14;
}

#tags-btn, #filtering-btn, #users-btn, #help-btn {
  border-radius: 30px;
}

#login-block {
  grid-column: 14 / 17;
  display: flex;

  input {
    border-radius: 50px 0 0 50px;
    height: 50px;
    width: 60%;
    padding-left: 10px;
    margin: auto;
  }

  button {
    margin: auto;
    border-radius: 0 50px 50px 0;
    width: 40%;
    height: 50px;
  }
}

#current-username {
  grid-column: 14 / 17;
  margin: auto;

  ::ng-deep {
    font-size: 1rem;
  }
}

#current-user-popover {
  display: flex;
  flex-direction: column;
  p, h3 {
    margin: 5px 0px;
    width: 100%;
    font-size: 0.5rem;
    font-family: "Pokemon Classic", monospace;
    text-align: center;
  }

  h3 {
    font-size: 0.7rem;
  }
}

#safemode-switch-block, #lock-switch-block {
  label {
    font-size: 0.8rem;
  }
}

#bnl-nav {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  grid-gap: 10px;
}

#logout-button {
  border-radius: 20px;
}

#record-audio {
  cursor: wait;
}

.upload-button {
  font-weight: 300;
  font-size: 0.9rem;
  border: None;
  height: 40px;
  color: #0985ff;
  background-color: white;

  img {
    height: 20px;
  }

  span {
    width: 100%;
    margin-left: 10px;
  }
}

#filtering-config-body {
  select {
    font-size: small;
  }
}
