<div id="bnl-nav">
  <img id="loult-logo" class="" src="assets/images/logo.svg">
  <h1 id="bn-title">Bibliothèque Nationale Loultiste</h1>
  <button id="submit-file" class="upload-button bnl-button">
    <img src="assets/images/icons/upload-grey.svg">
    <span>Envoyer un fichier</span>
  </button>
  <button id="record-audio" class="upload-button bnl-button">
    <img src="assets/images/icons/micro.svg">
    <span>Enregistrement audio</span>
  </button>
  <div *ngIf="!roleProvider.isLogged()" id="login-block">
    <input [(ngModel)]="cookie"  (keyup.enter)="login()" placeholder="Donne mou le cookie">
    <button class="bnl-button" (click)="login()">Valider</button>
  </div>
  <button *ngIf="roleProvider.isLogged()" (click)="roleProvider.logout()" id="logout-button" class="bnl-button">Déconnexion</button>
  <bnl-username *ngIf="roleProvider.isLogged()" [userData]="roleProvider.userData"></bnl-username>
</div>
