
#loult-logo {
  height: 40px;
  margin: auto;
}

#bn-title {
  grid-column: 2 / 5;
  font-family: "Pokemon Classic";
  font-size: 1rem;
  overflow-wrap: normal;
  padding-top: 5px;
}

#submit-file {
  grid-column: 5 / 7;
}

#record-audio {
  grid-column: 7 / 9;
}

#logout-button {
  grid-column: 11 / 13;
}

#login-block {
  grid-column: 10 / 13;
  display: flex;

  input {
    border-radius: 50px 0 0 50px;
    border: 1px solid #0985ff;
    height: 50px;
    color: #0985ff;
    background-color: white;
    width: 60%;
    padding-left: 10px;
  }

  button {
    border-radius: 0 50px 50px 0;
    width: 40%;
    border: 1px solid #0985ff;
    height: 50px;
    color: #0985ff;
    background-color: white;
  }
}

bnl-username {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

#bnl-nav {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 10px;
}

#logout-button {
  border-radius: 30px;
  border: 1px solid #0985ff;
  height: 50px;
  color: #0985ff;
  background-color: white;
}

#logout-button:hover {
  background-color: lightblue;
}

.upload-button {
  font-weight: 300;
  font-size: 0.9rem;
  border: None;
  height: 50px;
  color: #0985ff;
  background-color: white;
  display: inline-block;

  img {
    display: inline;
    height: 40px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
}
