<div id="bnl-nav">
  <img id="loult-logo" class="" src="assets/images/logo.svg" (click)="logoClick()">
  <h1 id="bn-title" (click)="logoClick()" >Bibliothèque Nationale Loultiste</h1>
  <button id="submit-file"  [disabled]="!roleProvider.isLogged()"
          (click)="openUploadModal()"
          [ngbTooltip]="roleProvider.isLogged() ? 'Soumettre un document' : 'Doume le cookie pour pourvoir uploader'"
          class="upload-button bnl-button">
    <img src="assets/images/icons/upload-grey.svg">
    <span>Envoyer un fichier</span>
  </button>
  <button id="record-audio" class="upload-button bnl-button" ngbTooltip="En Développement...">
    <img src="assets/images/icons/micro.svg">
    <span>Enregistrement audio</span>
  </button>
  <div *ngIf="!roleProvider.isLogged()" id="login-block">
    <input [(ngModel)]="cookie" class="form-control" (keyup.enter)="login()" placeholder="Donne mou le cookie">
    <button class="btn btn-outline-primary" (click)="login()">Valider</button>
  </div>
  <button *ngIf="roleProvider.isLogged()" (click)="roleProvider.logout()"
          id="logout-button" class="btn btn-outline-primary">Déconnexion</button>

  <div id="user-block" *ngIf="roleProvider.isLogged()">
    <bnl-username  [userData]="roleProvider.userData" [showPopOver]="false"></bnl-username>
    <p id="user-roles">
      {{ roleProvider.userData.role_names.join(", ")}}
    </p>
  </div>

  <div *ngIf="roleProvider.isLogged()" id="user-submissions-counts">
    <p><b>{{roleProvider.userData.uploaded_files_count}}</b> soumis</p>
    <p><b>{{roleProvider.userData.archived_files_count}}</b> archivés</p>
  </div>

  <div *ngIf="roleProvider.isLogged() && roleProvider.userData.permissions.can_delete_files"
       id="safemode-switch-block" ngbTooltip="Demander confirmation avant de supprimer un fichier"
       class="form-check form-switch align-items-center">
    <input class="form-check-input" type="checkbox" id="safemode-switch"
           [(ngModel)]="configService.deleteSafeMode">
    <label class="form-check-label" for="safemode-switch">Sécurité Suppression</label>
  </div>
</div>
