
#loult-logo {
  height: 40px;
  margin: auto;
}

#bn-title {
  grid-column-start: 2;
  grid-column-end: 5;
  font-family: "Pokemon Classic";
  font-size: small;
  overflow-wrap: normal;
}

#submit-file {
  grid-column-start: 5;
  grid-column-end: 7;
}
#record-audio {
  grid-column-start: 7;
  grid-column-end: 9;
}

#login-button {
  grid-column-start: 11;
  grid-column-end: 13;
}

#bnl-nav {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 10px;
}

#login-button {
  border-radius: 30px;
  border: 1px solid #0985ff;
  height: 50px;
  color: #0985ff;
  background-color: white;
}

#login-button:hover {
  background-color: lightblue;
}

.upload-button {
  border: None;
  height: 50px;
  color: #0985ff;
  background-color: white;
  display: inline-block;
  img {
    display: inline;
    height: 40px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px ;
  }
}
