/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Pokemon Classic";
  src: local("Pokemon Classic"), url("./assets/fonts/Pokemon Classic.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Light";
  src: local("Ubuntu Light"), url("./assets/fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Regular";
  src: local("Ubuntu Regular"), url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Droid";
  src: local("Droid"), url("./assets/fonts/droid.ttf") format("truetype");
}

body {
  font-family: "Ubuntu Regular", "Roboto Light", sans-serif;
  background-color: #d3d3d3;
  margin: 0;
}

.bnl-button {
  cursor: pointer;
}
